<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <div class="about-container">
        <h1>About Us</h1>
        <p>
          Welcome to www.quicknumerology.com, a platform where technology meets
          the ancient wisdom of numerology. Our mission is to provide
          personalized numerology insights using the power of generative AI,
          offering accurate and meaningful reports tailored to each individual.
        </p>
        <br /><br />
        <p>
          As an aspiring web developer and data scientist, I built this platform
          to showcase my skills in web development, artificial intelligence, and
          data analysis. This project is a testament to my passion for combining
          cutting-edge technology with real-world applications, delivering
          valuable insights through an intuitive and seamless user experience.
        </p>
        <br /><br />
        <p>
          At www.quicknumerology.com, we believe in the transformative power of
          numbers. Whether you're seeking guidance, self-discovery, or simply
          curious about what numerology has to say, our AI-powered system
          ensures that each report is unique, insightful, and easy to
          understand. Thank you for visiting, and I hope you enjoy exploring the
          magic of numerology with a modern, tech-driven approach!
        </p>
      </div>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
