<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/navbar") %>
    <div class="container">
      <div class="contact-container">
        <h1>Contact Us</h1>
        <p>
          Phone Number: 123-456-7890
          <br />
          Email: 1Oj7o@example.com
        </p>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
