* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: radial-gradient(
    circle,
    rgb(5, 5, 5),
    rgb(49, 1, 84),
    rgb(80, 2, 136)
  );
  color: white;
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
  color: inherit;
}

/* For navbar */
.navbar {
  display: flex;
  height: 6.2vh;
  padding: 0 30px;
  margin-bottom: 10px;
}
.navbar li {
  list-style-type: none;
  text-align: center;
  margin: auto 0;
  font-size: 1.2rem;
  height: 100%;
  line-height: 6.2vh;
  box-shadow: 1px 1px 4px white;
  padding: 10px 40px;
  background-color: rgb(49, 1, 84);
}

/* For Footer */
footer {
  background-color: rgb(92, 5, 154);
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 57px;
}

/* For index.ejs*/
.container {
  display: flex;
  height: 84vh;
}
.form-container {
  margin: 0 15px;
  width: 38%;
  height: 84.1vh;
  border-radius: 5px;
  padding: 0 10px;
}
.form-container h2 {
  text-align: center;
  margin: 20px 0;
}
.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 2px;
}
.form-item label {
  font-weight: bold;
}
.form-item input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  box-shadow: 2px 2px 4px black;
}
/* For Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.d-item {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-item select {
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.d-input {
  width: 110px;
}
.from-btn {
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(92, 5, 154);
  color: white;
}
.site-image {
  width: 500px;
  height: 500px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}

/* For results.ejs*/
.result-header {
  height: 6.2vh;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.result-container {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
  border-radius: 5px;
}
.result-btn,
#go-back-btn {
  width: 300px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(92, 5, 154);
  color: white;
}

/* For about us and contact us*/

.about-container,
.contact-container {
  margin: 20px 40px;
  padding: 10px;
}
.about-container h1,
.contact-container h1 {
  margin-bottom: 20px;
}

.report-container {
  height: auto;
  width: 75%;
  margin: auto;
}
